global
    log stdout format raw daemon

    pidfile /var/run/haproxy/haproxy.pid
    stats socket /var/run/haproxy/haproxy.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    master-worker
    user "${HAPROXY_USER}"
    group "${HAPROXY_GROUP}"

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    tune.ssl.default-dh-param  2048
    ssl-default-bind-ciphers   EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-bind-options   no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    ssl-default-server-ciphers EECDH:HIGH:!SHA1:!SHA256:!SHA384:!kRSA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    # option  forwardfor
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http
    bind *:8083 ssl crt /etc/certs/server.pem ca-file /etc/certs/ca.crt verify required
    monitor-uri /healthz

    # Using http-request set-header X-Forwarded-For instead of option forwardfor ignores any request X-Forwarded-For headers where option forwardfor includes the request value
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https if { ssl_fc }

    log-format "%ci:%cp [%t] %ft %b/%s %Tq/%Tw/%Tc/%Tr/%Tt %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs {%[ssl_c_verify],%{+Q}[ssl_c_s_dn],%{+Q}[ssl_c_i_dn]} %{+Q}r"

    http-request set-header X-SSL                  %[ssl_fc]
    http-request set-header X-SSL-Client-Verify    %[ssl_c_verify]
    http-request set-header X-SSL-Client-DN        %{+Q}[ssl_c_s_dn]
    http-request set-header X-SSL-Client-CN        %{+Q}[ssl_c_s_dn(cn)]
    http-request set-header X-SSL-Issuer           %{+Q}[ssl_c_i_dn]
    http-request set-header X-SSL-Client-NotBefore %{+Q}[ssl_c_notbefore]
    http-request set-header X-SSL-Client-NotAfter  %{+Q}[ssl_c_notafter]

    use_backend echoserver

    default_backend default

backend echoserver
    mode http
    server echoserver echoserver:8081

# Default backend always returns 404 error but a 400 error shows in the logs
backend default
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/default-backend.http
    http-request deny deny_status 400
